{% extends 'layout.html.twig' %}


{% block content %}

{% block nav %}

{% include 'navbar.html.twig' %}
   
{% endblock %}

        <h1 class="title">Cycl'aid</h1>

{% block searchBar %}

{% include 'searchbar.html.twig' %}
    
{% endblock %}

<link rel="stylesheet" href="/assets/css/postindex.css">

{% for post in postsList %}

    <a class="cardContainer" href="/post/show?id={{ post.id }}" >
        {% include 'cardImageSelect.html.twig' %}
            <div class="cardInfoContainer" >
                <div class="cardTopContainer" >
                    {% include 'cardWearIcon.html.twig' %}
                    <p class="cardTitle" >{{ post.title }}</p>
                </div>
                <p class="cardDescription" >{{ post.description }}</p>
                <div class="cardFooterContainerLeft" >
                    <img class="cardIconLocation" src="/assets/images/icon_location.png" >
                    <p class = "cardFooterInfos">{{ post.city }}</p>
                </div>
                <div class ="cardFooterContainerRight">
                    <img class="cardIconCalendar" src="/assets/images/icon_calendar.png" >
                    <p class="cardFooterInfos" >{{ post.creation_date }}</p>
                </div>
            </div>
    </a>

    {% else %}

    <div id="nothing">
        <p>Nothing to display :</p>
        <a href="/post/add" >Be the first one to post !</a>
    </div>

{% endfor %}

<div id= "footerBlank"></div>

<div>
    <a href="/post/add" id="ctaPost">POST YOUR PART</a>
</div>
<footer id="footer"></footer>

{% endblock %}
