{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/post.css">
{% endblock %}

{% block content %}

    {% block nav %}
		{% include 'navbar.html.twig' %}
	{% endblock %}

    <section id="post">

        <div id='date'>
            <img id="icon_calendar" src="/assets/images/icon_calendar.png"/>
            <p>{{ post['creation_date'] }}</p>
        </div>

        <div id="id_post">
            <p>AD id : {{ post['id'] }}</p>
        </div>

        <div id="picture_1">
            <img id="picture-displayed" src="/uploads/{{ pictures[0]['picture'] }}" alt="image_1">
        </div>
        <div id="picture_2">
		    <img id="picture" src="/uploads/{{ pictures[1]['picture'] }}" alt="image_2">
        </div>
        <div id="picture_3">
		    <img id="picture" src="/uploads/{{ pictures[2]['picture'] }}" alt="image_3">
        </div>
        <div id="picture_4">
		    <img id="picture" src="/uploads/{{ pictures[3]['picture'] }}" alt="image_4">
        </div>

        <div id="flex_container_4">
			<div class="grid-item" id="grid_item_1">{{ post['user_id'] }}</div>
			<div class="grid-item" id="wear_status">{% include 'cardWearIcon.html.twig' %}</div>
			<div class="grid-item" id="grid_item_2">{{ post['category'] }}</div>
			<div class="grid-item" id="grid_item_3">{{ post['brand'] }}</div>
			<div class="grid-item">{{ post['reference'] }}</div>
			<div class="grid-item" id="grid_item_4">{{ post['location'] }}</div>
	    </div>

		<p id="title">{{ post['title'] }}</p>
        <p id="description">{{ post['description'] }}</p>

        <div id="cta_view_part">
            <div class="popup" id="popupTrigger">GET THE PART!
                <span class="popuptext" id="myPopup">
                    <div id="background_text_popup">Thanks for your interest for this part ! The owner will contact you soon ! One token will be deducted from your account.
                        <a href="/" id="ctaGet">SEND MY REQUEST</a>
                    </div>
                </span>
            </div>
        </div>
    </section>
    <footer id="footer"></footer>

    {% block javascript %}<script src="/assets/js/piece.js"></script>{% endblock %}

{% endblock %}
