{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/post.css">
{% endblock %}

{% block content %}

    {% block nav %}
		{% include 'navbar.html.twig' %}
	{% endblock %}

    <section id="post">

        <div id='date'>
            <img id="icon_calendar" src="/assets/images/icon_calendar.png"/>
            <p>{{ post['creation_date'] }}</p>
        </div>

        <div id="id_post">
            <p>AD id : {{ post['id'] }}</p>
        </div>

        <div id="picture_1">
            {% if pictures[0]['picture'] is defined %}
                <img id="picture-displayed" src="/uploads/{{ pictures[0]['picture'] }}" alt="image_1">
            {% else %}
                <img id="picture-displayed" src="/assets/images/icon_no_image.webp" alt="image_1">
            {% endif %}
        </div>
        <div id="direction_1">
            <div id="to-left">
                <img id="left_arrow" src="/assets/images/left-arrow.png">
            </div>
        </div>
        <div id="direction_2">
            <div id="to-right">
                <img id="right_arrow" src="/assets/images/right-arrow.png">
            </div>
        </div>
        <div id="picture_2">
            {% if pictures[1]['picture'] is defined %}
		        <img id="subpicture_1" class="picture" src="/uploads/{{ pictures[1]['picture'] }}" alt="image_2">
            {% else %}
                <img id="subpicture_1" class="picture" src="/assets/images/icon_no_image.webp" alt="image_1">
            {% endif %}
        </div>
        <div id="picture_3">
            {% if pictures[2]['picture'] is defined %}
		        <img id="subpicture_2" class="picture" src="/uploads/{{ pictures[2]['picture'] }}" alt="image_3">
            {% else %}
                <img id="subpicture_2" class="picture" src="/assets/images/icon_no_image.webp" alt="image_1">
            {% endif %}
        </div>
        <div id="picture_4">
            {% if pictures[3]['picture'] is defined %}
		        <img id="subpicture_3" class="picture" src="/uploads/{{ pictures[3]['picture'] }}" alt="image_4">
            {% else %}
                <img id="subpicture_3" class="picture" src="/assets/images/icon_no_image.webp" alt="image_1">
            {% endif %}
        </div>

        <div id="flex_container_4">
			<div class="grid-item" id="grid_item_1"><img id="icon_user_grid" src="/assets/images/icon_user_profil_post.png">
                <p>{{ user_post['firstname'] ~ ' ' ~ user_post['lastname'] }}</p>
            </div>
			<div class="grid-item" id="wear_status">{% include 'cardWearIcon.html.twig' %}</div>
			<div class="grid-item" id="grid_item_2">
                <p>{{ post['category'] }}</p>
            </div>
			<div class="grid-item" id="grid_item_3">
                <p>{{ post['brand'] }}</p>
            </div>
			<div class="grid-item">
                <p>{{ post['reference'] }}</p>
            </div>
			<div class="grid-item" id="grid_item_4">
                <p>{{ user_post['city'] ~ ' ' ~ user_post['postal_code'] }}</p>
            </div>
	    </div>

		<p id="title">{{ post['title'] }}</p>
        <p id="description">{{ post['description'] }}</p>

        {% if post['user_id'] is not same as(user['id']) %}

            <div id="cta_view_part">GET THE PART!</div>

        {% endif %}

    </section>

    {% if user is not empty and user['coin'] is not same as(0) %}

        <div id="popup" class="hidden">
            <p>Thanks for your interest for this part ! The owner will contact you soon ! One coin will be deducted from your account.</p>
            <a id="ctaGet" href="/user/getPart?post_id={{ post['id'] }}&user_id={{ post['user_id'] }}">SEND MY REQUEST</a>
        </div>

    {% elseif user is not empty and user['coin'] is same as(0) %}

        <div id="popup" class="hidden">
            <p>To get a part, you need to have at least one coin.</p>
            <a id="ctaGet" href="/">HOME</a>
        </div>
    
    {% else %}

        <div id="popup" class="hidden">
            <p>To get a part, you need to be connected.</p>
            <a id="ctaGet" href="/user/login">LOGIN</a>
        </div>

    {% endif %}

    <footer id="footer"></footer>

    {% block javascript %}<script src="/assets/js/post.js"> <script src="/assets/js/request.js"></script>{% endblock %}

{% endblock %}
