{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/piece.css">
{% endblock %}

{% block content %}
	{% block nav %}

{% include 'navbar.html.twig' %}
   
{% endblock %}
<div id="flex1">
	<div id='date'>
		<p>{{ post['creation_date'] }}</p>
	</div>

	<div id="id_post">
		<p>{{ post['id_post'] }}</p>
	</div>
</div>

{# <div id="carousel-inner">
	{% for image in images %}
		<div class="carousel-item active">
			<img src={{image['picture']}} alt="Carrousel slide 1" class="d-block w-100">
		</div>
		{% endfor %}
	</div>
</div>
<!-- Contrôles -->
<a id="carousel-control-prev" href="#demo" role="button" data-slide="prev">
	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	<span class="sr-only">Précédent</span>
</a>
<a id="carousel-control-next" href="#demo" role="button" data-slide="next">
	<span id="carousel-control-next-icon" aria-hidden="true"></span>
	<span id="sr-only">Suivant</span>
</a>
</div>
</div>
<div id="information">
<pre>
<p>{{ post['wear_status'] }}    {{ post['user_id'] }}    {{ post['brand_id'] }} <br> {{ post['reference'] }}    {{ post['category_id'] }}</p>
</pre>
</div>
<div id="title">
<p>{{ post['title'] }}</p>
</div>
<div id="description">
<p>{{ post['description'] }}</p>
</div>
<div id="get_part">
<div class="popup" id="popupTrigger">GIVE THE PART!
<span class="popuptext" id="myPopup">Thanks for your interest for this part ! The owner will contact you soon ! One token will be deducted from your account.</span>
</div>
</div> #}

<footer id="footer"></footer>
{% block javascript %}<script src="/assets/js/piece.js"></script>{% endblock %}
{% endblock %}
