{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/piece.css">
{% endblock %}

{% block content %}
	{% block nav %}

{% include 'navbar.html.twig' %}
   
{% endblock %}
<div id="flex_container_1">
	<div id='date'>
		<p><img id="icon_calendar" src="../assets/images/icon_calendar.png"/> {{ post['creation_date'] }}</p>
	</div>

	<div id="id_post">
		<p>AD id : {{ post['id_post'] }}</p>
	</div>
</div>

<div id="flex_container_2">
	{% for image in images %}
		<div>
			<img src="{{post.picture}}" alt="image_1">
		</div>
	{% endfor %}
	</div>
</div>
<div id="flex_container_3">
	{% for image in images %}
		<div>
			<img src= {{image['picture']}} alt="image_2">
			<img src= {{image['picture']}} alt="image_3">
			<img src= {{image['picture']}} alt="image_4">
		</div>
	{% endfor %}
</div>

<div id="flex_container_4">
	<div id="information">
		<div class="grid-container">
			<div class="grid-item" id="grid_item_1">{{ post['user_id'] }}</div>
			<div class="grid-item">{{ post['wear_status'] }}</div>
			<div class="grid-item" id="grid_item_2">{{ post['category_id'] }}</div>
			<div class="grid-item" id="grid_item_3">{{ post['brand_id'] }}</div>  
			<div class="grid-item">{{ post['reference'] }}</div>
			<div class="grid-item" id="grid_item_4">{{ post['location'] }}</div>		
	</div>
</div>

<div id="flex_container_5">
	<div id="title">
		<p>{{ post['title'] }}</p>
	</div>
</div>


<div id="flex_container_6">
	<div id="description">
		<p>{{ post['description'] }}</p>
	</div>
</div>

<div id="cta_view_part">
	<div class="popup" id="popupTrigger">GET THE PART!
		<span class="popuptext" id="myPopup">
			<div id="background_text_popup">Thanks for your interest for this part ! The owner will contact you soon ! One token will be deducted from your account.
			<a href="/" id="ctaGet">SEND MY REQUEST</a>
			</div>
		</span>
	</div>
</div>

<footer id="footer"></footer>
{% block javascript %}<script src="/assets/js/piece.js"></script>{% endblock %}
{% endblock %}
